<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title> <%= city.name %> </title>
</head>
<body>
    <%- include('header', {cityVar: city.name}); %>
    <h1> <%= city.name %> </h1>
    <p>City name: <%= city.name %></p>
    <p>Date: <%= dateTime.getDate(city.tz) %></p>
    <p>Time: <%= dateTime.getTime(city.tz) %></p>
    <a href= <%= goBack %>   >Go back</a>
    <%- include('footer', {cityVar: city.name}); %>
</body>
</html>